In [6]:
import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
df = pd.read_csv("templates/timeslots.csv",parse_dates=['Day', 'Timestamp UTC ms', 'Time'])
df.head()

,Day,Timestamp UTC ms,Time,Place,Room,Activity,Activity Category,Duration ms,Steps,Move,Device
0,2018-07-20,1532046429168,2018-07-20 16:27:09,上海市闸北区晋城路663弄,NaN,phone: Smarter Time,Personal Life,39,0,NOMOVE,Letv X500
1,2018-07-20,1532046429207,2018-07-20 16:27:09,上海市闸北区晋城路663弄,NaN,phone: 浏览器,Art & Entertainment,3343268,0,NOMOVE,NaN
2,2018-07-20,1532049772475,2018-07-20 17:22:52,上海市闸北区晋城路663弄,NaN,phone: 手机淘宝,Chores,133130,0,NOMOVE,Letv X500
3,2018-07-20,1532049905605,2018-07-20 17:25:05,上海市闸北区晋城路663弄,NaN,phone: 浏览器,Art & Entertainment,55825,0,NOMOVE,NaN
4,2018-07-20,1532049961430,2018-07-20 17:26:01,上海市闸北区晋城路663弄,NaN,phone: Google Play 商店,Art & Entertainment,125092,0,NOMOVE,Letv X500

In [46]:
start = datetime(2018,7,29)
end = datetime(2018,7,31)

In [51]:
df_ = df[(df['Day']>start) & (df['Day']<end)]
df_.drop(columns=['Timestamp UTC ms', 'Steps', 'Move'])
df_['Duration_min'] = df_['Duration ms']/(60000*60)
#df_ = df_[df_['Activity']!=nan]
df_.head()

,Day,Time,Place,Room,Activity,Activity Category,Duration ms,Device
623,2018-07-30,2018-07-30 08:00:00,琦逸足球公园,NaN,sleep,Resting,5310870,NaN
624,2018-07-30,2018-07-30 09:28:30,home,NaN,sleep,Resting,10949276,NaN
625,2018-07-30,2018-07-30 12:31:00,home,NaN,sleep,Resting,250564,NaN
626,2018-07-30,2018-07-30 12:35:10,琦逸足球公园,NaN,sleep,Resting,4193584,NaN
627,2018-07-30,2018-07-30 13:45:04,home,NaN,sleep,Resting,4080948,NaN
628,2018-07-30,2018-07-30 14:53:05,home,NaN,brush teeth,Health & Hygiene,204561,NaN
629,2018-07-30,2018-07-30 14:56:29,home,NaN,brush teeth,Health & Hygiene,392443,NaN
630,2018-07-30,2018-07-30 15:03:02,home,bathroom,brush teeth,Health & Hygiene,2555046,NaN
631,2018-07-30,2018-07-30 15:45:37,NaN,NaN,bus,Transport,847525,NaN
632,2018-07-30,2018-07-30 15:59:44,NaN,NaN,bus,Transport,344015,NaN
633,2018-07-30,2018-07-30 16:05:28,NaN,NaN,bus,Transport,3557731,NaN
634,2018-07-30,2018-07-30 17:04:46,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,3920857,NaN
635,2018-07-30,2018-07-30 18:10:07,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,222793,NaN
636,2018-07-30,2018-07-30 18:13:50,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,4377823,NaN
637,2018-07-30,2018-07-30 19:26:48,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,136546,NaN
638,2018-07-30,2018-07-30 19:29:04,复旦大学第二教学楼,NaN,relax,Resting,20286,NaN
639,2018-07-30,2018-07-30 19:29:24,复旦大学第二教学楼,NaN,relax,Resting,215445,NaN
640,2018-07-30,2018-07-30 19:33:00,复旦大学第二教学楼,NaN,relax,Resting,28468,NaN
641,2018-07-30,2018-07-30 19:33:28,复旦大学第二教学楼,NaN,relax,Resting,1469547,NaN
642,2018-07-30,2018-07-30 19:57:58,复旦大学第二教学楼,NaN,relax,Resting,17318,NaN
643,2018-07-30,2018-07-30 19:58:15,复旦大学第二教学楼,NaN,relax,Resting,176849,NaN
644,2018-07-30,2018-07-30 20:01:12,复旦大学第二教学楼,NaN,relax,Resting,45786,NaN
645,2018-07-30,2018-07-30 20:01:58,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,8283455,NaN
646,2018-07-30,2018-07-30 22:20:01,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,169415,NaN
647,2018-07-30,2018-07-30 22:22:51,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,160834,NaN
648,2018-07-30,2018-07-30 22:25:31,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,679371,NaN
649,2018-07-30,2018-07-30 22:36:51,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,16204,NaN
650,2018-07-30,2018-07-30 22:37:07,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,456274,NaN
651,2018-07-30,2018-07-30 22:44:43,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,16422,NaN
652,2018-07-30,2018-07-30 22:45:00,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,864770,NaN
653,2018-07-30,2018-07-30 22:59:25,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,20615,NaN
654,2018-07-30,2018-07-30 22:59:45,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,4082280,NaN
655,2018-07-30,2018-07-31 00:07:47,复旦大学第二教学楼,NaN,relax,Resting,1827508,NaN
656,2018-07-30,2018-07-31 00:38:15,NaN,NaN,eat,Health & Hygiene,789226,NaN
657,2018-07-30,2018-07-31 00:51:24,复旦大学第二教学楼,NaN,eat,Health & Hygiene,58505,NaN
658,2018-07-30,2018-07-31 00:52:23,复旦大学第二教学楼,NaN,eat,Health & Hygiene,657271,NaN
659,2018-07-30,2018-07-31 01:03:20,复旦大学第二教学楼,NaN,eat,Health & Hygiene,699230,NaN
660,2018-07-30,2018-07-31 01:14:59,NaN,NaN,eat,Health & Hygiene,144517,NaN
661,2018-07-30,2018-07-31 01:17:24,复旦大学第二教学楼,NaN,eat,Health & Hygiene,528468,NaN
662,2018-07-30,2018-07-31 01:26:12,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,1458555,NaN
663,2018-07-30,2018-07-31 01:50:31,复旦大学第二教学楼,NaN,nap,Resting,1500048,NaN
664,2018-07-30,2018-07-31 02:15:31,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,3327450,NaN
665,2018-07-30,2018-07-31 03:10:58,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,171372,NaN
666,2018-07-30,2018-07-31 03:13:50,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,997998,NaN
667,2018-07-30,2018-07-31 03:30:28,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,147379,NaN
668,2018-07-30,2018-07-31 03:32:55,复旦大学第二教学楼,NaN,study: deeplearning,Professional Life,8323242,NaN
669,2018-07-30,2018-07-31 05:51:38,NaN,NaN,bus,Transport,2715650,NaN
670,2018-07-30,2018-07-31 06:36:54,NaN,NaN,bus,Transport,206603,NaN
671,2018-07-30,2018-07-31 06:40:20,NaN,NaN,bus,Transport,1187237,NaN
672,2018-07-30,2018-07-31 07:00:08,home,NaN,sport,Sport & Fitness,387444,NaN
673,2018-07-30,2018-07-31 07:06:35,home,bathroom,sport,Sport & Fitness,216972,NaN
674,2018-07-30,2018-07-31 07:10:12,home,bathroom,sport,Sport & Fitness,1852249,NaN
675,2018-07-30,2018-07-31 07:41:04,home,bedroom,sport,Sport & Fitness,263022,NaN
676,2018-07-30,2018-07-31 07:45:27,home,bathroom,shower,Health & Hygiene,872133,NaN

E:\learning\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Day,Timestamp UTC ms,Time,Place,Room,Activity,Activity Category,Duration ms,Steps,Move,Device,Duration_min
623,2018-07-30,1532880000000,2018-07-30 08:00:00,琦逸足球公园,NaN,sleep,Resting,5310870,0,NOMOVE,NaN,1.475242
624,2018-07-30,1532885310870,2018-07-30 09:28:30,home,NaN,sleep,Resting,10949276,0,NOMOVE,NaN,3.041466
625,2018-07-30,1532896260146,2018-07-30 12:31:00,home,NaN,sleep,Resting,250564,0,NOMOVE,NaN,0.069601
626,2018-07-30,1532896510710,2018-07-30 12:35:10,琦逸足球公园,NaN,sleep,Resting,4193584,0,NOMOVE,NaN,1.164884
627,2018-07-30,1532900704294,2018-07-30 13:45:04,home,NaN,sleep,Resting,4080948,0,NOMOVE,NaN,1.133597

In [30]:
pd.isnull(df_['Activity'][869])

KeyError: 869

In [56]:
def act_split(strings, index=0):
    if pd.isnull(strings):
        return 'NaN'
    strings = strings.split(': ')
    if len(strings)==1:
            return strings[0]
    return strings[index]

In [57]:
df_['act1']= df_['Activity'].apply(act_split)
df_['act2']= df_['Activity'].apply(act_split, index=1)

E:\learning\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
E:\learning\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [58]:
def activity_data(df, n=20):
    _ = []
    for i in range(n):
        children = dict({'name': df.iloc[i].act2,
        'value': df.iloc[i].Duration_min})
        _.append(dict({'name': df.iloc[i].act1,
        'children': [children]}))
    return _

In [59]:
import json
json.dumps(activity_data(df_,len(df_)))
with open('templates/data.json', 'w') as f:
    json.dump(activity_data(df_,len(df_)), f)

'[{"name": "sleep", "children": [{"name": "sleep", "value": 1.4752416666666666}]}, {"name": "sleep", "children": [{"name": "sleep", "value": 3.0414655555555554}]}, {"name": "sleep", "children": [{"name": "sleep", "value": 0.06960111111111111}]}, {"name": "sleep", "children": [{"name": "sleep", "value": 1.1648844444444444}]}, {"name": "sleep", "children": [{"name": "sleep", "value": 1.1335966666666666}]}, {"name": "brush teeth", "children": [{"name": "brush teeth", "value": 0.0568225}]}, {"name": "brush teeth", "children": [{"name": "brush teeth", "value": 0.10901194444444444}]}, {"name": "brush teeth", "children": [{"name": "brush teeth", "value": 0.709735}]}, {"name": "bus", "children": [{"name": "bus", "value": 0.2354236111111111}]}, {"name": "bus", "children": [{"name": "bus", "value": 0.09555972222222223}]}, {"name": "bus", "children": [{"name": "bus", "value": 0.9882586111111111}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 1.0891269444444445}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.061886944444444446}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 1.2160619444444445}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.037929444444444446}]}, {"name": "relax", "children": [{"name": "relax", "value": 0.005635}]}, {"name": "relax", "children": [{"name": "relax", "value": 0.059845833333333334}]}, {"name": "relax", "children": [{"name": "relax", "value": 0.007907777777777777}]}, {"name": "relax", "children": [{"name": "relax", "value": 0.4082075}]}, {"name": "relax", "children": [{"name": "relax", "value": 0.004810555555555556}]}, {"name": "relax", "children": [{"name": "relax", "value": 0.04912472222222222}]}, {"name": "relax", "children": [{"name": "relax", "value": 0.012718333333333333}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 2.3009597222222222}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.047059722222222225}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.04467611111111111}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.18871416666666666}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.004501111111111111}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.1267427777777778}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.004561666666666667}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.2402138888888889}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.0057263888888888885}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 1.1339666666666666}]}, {"name": "relax", "children": [{"name": "relax", "value": 0.5076411111111111}]}, {"name": "eat", "children": [{"name": "eat", "value": 0.21922944444444445}]}, {"name": "eat", "children": [{"name": "eat", "value": 0.016251388888888888}]}, {"name": "eat", "children": [{"name": "eat", "value": 0.18257527777777777}]}, {"name": "eat", "children": [{"name": "eat", "value": 0.19423055555555555}]}, {"name": "eat", "children": [{"name": "eat", "value": 0.04014361111111111}]}, {"name": "eat", "children": [{"name": "eat", "value": 0.14679666666666666}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.40515416666666665}]}, {"name": "nap", "children": [{"name": "nap", "value": 0.41668}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.9242916666666666}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.04760333333333333}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.27722166666666664}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 0.04093861111111111}]}, {"name": "study", "children": [{"name": "deeplearning", "value": 2.312011666666667}]}, {"name": "bus", "children": [{"name": "bus", "value": 0.7543472222222222}]}, {"name": "bus", "children": [{"name": "bus", "value": 0.057389722222222224}]}, {"name": "bus", "children": [{"name": "bus", "value": 0.32978805555555557}]}, {"name": "sport", "children": [{"name": "sport", "value": 0.10762333333333333}]}, {"name": "sport", "children": [{"name": "sport", "value": 0.06027}]}, {"name": "sport", "children": [{"name": "sport", "value": 0.5145136111111112}]}, {"name": "sport", "children": [{"name": "sport", "value": 0.07306166666666666}]}, {"name": "shower", "children": [{"name": "shower", "value": 0.24225916666666666}]}]'

In [134]:
activity_data(df_)

[{'children': ['{"name": "NaN", "value": 341.9218833333333}'], 'name': 'NaN'},
 {'children': ['{"name": "NaN", "value": 47.50731666666667}'], 'name': 'NaN'},
 {'children': ['{"name": "NaN", "value": 240.56456666666668}'], 'name': 'NaN'},
 {'children': ['{"name": "NaN", "value": 53.52831666666667}'],
  'name': 'vehicle'},
 {'children': ['{"name": "\\u5fae\\u4fe1", "value": 1.9331666666666667}'],
  'name': 'phone'},
 {'children': ['{"name": "\\u5fae\\u535a", "value": 12.3804}'],
  'name': 'phone'},
 {'children': ['{"name": "NaN", "value": 19.645783333333334}'],
  'name': 'vehicle'},
 {'children': ['{"name": "Leanote", "value": 3.1767166666666666}'],
  'name': 'computer'},
 {'children': ['{"name": "bilibili.com", "value": 5.344666666666667}'],
  'name': 'computer'},
 {'children': ['{"name": "NaN", "value": 4.7826}'], 'name': 'vehicle'}]

In [119]:
df_.head()

,Day,Timestamp UTC ms,Time,Place,Room,Activity,Activity Category,Duration ms,Steps,Move,Device,Duration_min,act1,act2
20,2018-07-21,1532102400000,2018-07-21 08:00:00,NaN,NaN,NaN,No category,20515313,0,NOMOVE,NaN,341.921883,NaN,NaN
21,2018-07-21,1532122915313,2018-07-21 13:41:55,NaN,NaN,NaN,No category,2850439,0,NOMOVE,NaN,47.507317,NaN,NaN
22,2018-07-21,1532125765752,2018-07-21 14:29:25,NaN,NaN,NaN,No category,14433874,0,NOMOVE,NaN,240.564567,NaN,NaN
23,2018-07-21,1532140199626,2018-07-21 18:29:59,上海市闸北区晋城路663弄,NaN,vehicle,Transport,3211699,0,NOMOVE,NaN,53.528317,vehicle,NaN
24,2018-07-21,1532143411325,2018-07-21 19:23:31,上海市闸北区晋城路663弄,NaN,phone: 微信,Social,115990,0,NOMOVE,Letv X500,1.933167,phone,微信

In [39]:
geo = pd.read_csv('geoloc.csv',header=0,index_col=False)#,parse_dates=['Date','Timestamp UTC ms', 'Time'])
geo.head()

,Date,Timestamp UTC ms,Time,Latitude,Longitude,Place,MoveAccuracy
0,20180720,1532046419584,Fri Jul 20 08:26:59 GMT+08:00 2018,31.282195,121.420411,上海市闸北区晋城路663弄,MOVE_NOMOVE
1,20180720,1532050072000,Fri Jul 20 09:27:52 GMT+08:00 2018,31.283154,121.420639,阳城世家苑,MOVE_NOMOVE
2,20180720,1532075852920,Fri Jul 20 16:37:32 GMT+08:00 2018,31.282933,121.420586,上海市闸北区晋城路663弄,MOVE_NOMOVE
3,20180720,1532078334130,Fri Jul 20 17:18:54 GMT+08:00 2018,31.281980,121.420067,上海市闸北区晋城路663弄,MOVE_NOMOVE
4,20180720,1532081682000,Fri Jul 20 18:14:42 GMT+08:00 2018,31.282933,121.420586,上海市闸北区晋城路663弄,MOVE_NOMOVE

In [31]:
geo.Place.unique()

array(['MOVE_NOMOVE', 'MOVE_VEHICLE'], dtype=object)

In [104]:
dict('name','a')

TypeError: dict expected at most 1 arguments, got 2